#game-board {
    float: left;
}

canvas {
  background-image: url(../images/0009.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-left: 61px;
  background-position: center;
}

.racoon {
  background-image: url(../images/raccon.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-left: 61px;
  background-position: center;
}

.pride {
  background-image: url(../images/pridegif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-left: 61px;
  background-position: center;
}


#score {
 color: orange
}

.middle {
  background-image: url(../images/raccon.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-left: 61px;
}

#finished h1 {
  text-align: left;
  color: black!important;
}