#game-board {
    float: left;
}

canvas {
  background-image: url(../images/0009.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-left: 61px;
}

.racoon {
  background-image: url(../images/raccon.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-left: 61px;
}

#score {
 color: red
}

#finished {
  background-image: url(../images/clean-code.webp);
  height: 2048px;
  background-repeat: no-repeat;
  width: 2048px;
  color:black
}

.middle {
  background-image: url(../images/raccon.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-left: 61px;
}

#finished h1 {
  text-align: left;
  color: black!important;
}