  
#welcome {
  color:green;
  text-align: left;
}

/* #introImg {
    width: 100%;
} */

#scoreDiv {
  margin-top: 20px;
}

#start-button {
  height: 57px;
}

#restart-button {
  height: 56px;
  padding-left: 70px;
}

.header {
    background-image: url(../images/intro1.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
  background-color: #1a0c43;
}


.fixed-top {
  font-size: 24px;
  top: 13%;
  z-index: 1030;
  right: 73%;
  color: aquamarine;
}

.align-middle {
    background-image: url(../images/iterm.png);
    height: 564px;
    background-repeat: no-repeat;
    margin-top: 20%
}

#gameCanvas {
  background-image: url(../images/iterm.png);
  margin-top: 20%;
  height: 564px;
  background-repeat: no-repeat;
  /* padding-bottom: 800px */
}

