/* netlify modifications */
.container {
  margin-left: 0!important;
  margin-right: 0!important;
  max-width: 100%!important;
}

.col-md-3 {
  width: 22%;
}

.col-md-9 {
  width: 78%;
}
/* netlify modifications */



.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Bootstrap */
#section-left {
  padding-right: 50px;
}

.col-md-9 {
  padding-left: 40px;
}

.row {
  align-items: center;
}

body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  #button {
    font-size: 30px;
    background-color: cadetblue;
    padding: 7px 6px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
#welcome {
  text-align: left;
}